/* style.css*/

@font-face {
  font-family: 'HSSanTokki20-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/RixYeoljeongdo_Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'NanumSquareNeoLight';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.ttf) format("truetype");
}

@font-face {
    font-family: 'NanumSquareNeo';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.ttf) format("truetype");
}

@font-face {
    font-family: 'NanumSquareNeoBold';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.ttf) format("truetype");
}

@font-face {
    font-family: 'NanumSquareNeoExtraBold';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.ttf) format("truetype");
}

@font-face {
    font-family: 'NanumSquareNeoHeavy';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.ttf) format("truetype");
}

:root {
    --accent: #3ADFB6;
    --accent-light: #a3ffd9;
    --bg: #fcfcfc;
}

body {
    font-family: 'NanumSquareNeo';
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    font-size: 18px;
    line-height: 1.8;
  }

h1 {
    color: var(--accent);
    font-family: 'HSSanTokki20-Regular';
    font-size: 3em;
}

a {
    color: var(--accent);
    text-decoration: none;
}

table {
    width: 100%;
    text-align: center;
}

.modoru a {
    color: black !important;
}

h2, h3, h4, h5, h6, b, strong {
    font-family: 'NanumSquareNeoExtraBold';
    font-weight: normal;
}

h1 {
  font-weight: normal;
}

blockquote {
  margin: 0;
  padding: 0 0 0 40px;
  border-left: 2px solid var(--accent);
}
  

#wrapper{
  height: auto;
  min-height: 100%;
}

.wrapper{
  position: fixed;
  z-index: 997;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /*background: linear-gradient(-135deg, #c850c0, #4158d0);*/
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
 /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
  /* clip-path: circle(25px at calc(0% + 45px) 45px); */
  background: var(--accent);
  clip-path: circle(25px at calc(100% - 45px) 45px);
  transition: all 0.3s ease-in-out;
}

#active:checked ~ .wrapper{
  clip-path: circle(75%);
}

.menu-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 999;
  right: 20px;
  top: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 30px !important;
  color: #fff;
  cursor: pointer;
  /*background: linear-gradient(-135deg, #c850c0, #4158d0);*/
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
 /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
  background: var(--accent);
  transition: all 0.3s ease-in-out;
}

#active:checked ~ .menu-btn{
  color: #fff;
}

#active:checked ~ .menu-btn i:before{
  font-size: 40px;
  content: "×";
}

.wrapper ul{
  padding-inline-start: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}

.wrapper ul li{
  margin: 15px 0;
}

.wrapper ul li a{
  color: none;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  padding: 5px 30px;
  color: #fff;
  border-radius: 50px;
  background: var(--accent);
  position: relative;
  line-height: 50px;
  transition: all 0.3s ease;
}

.wrapper ul li a:after{
  position: absolute;
  content: "";
  background: #fff;
  /*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
  width: 104%;
  height: 110%;
  left: -2%;
  top: -5%; /*if the font is 'Oswald' */
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -2;
  animation: rotate 1.5s linear infinite;
  transition: transform 0.3s ease;
}

.wrapper ul li a:hover:after{
  transform: scaleY(1);
}

.wrapper ul li a:hover{
  color: #fff;
}

input[type="checkbox"]{
  display: none;
}

@keyframes rotate {
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}

.content{
  z-index: -1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90px;
  background-color: var(--accent);
  color: #fff;
}
.content .title a{
  font-family: 'HSSanTokki20-Regular';
  font-size: 2em;
  color: #fff;
}

#banner {
    background-image: url('../assets/main.jpeg');
    height: 70vh;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: -1;
}

#banner_txt {
    position:absolute;
    font-family: 'HSSanTokki20-Regular';
    font-size: 4em;
    color: white;
    right: 0;
    bottom: 10px;
    text-align: right;
    line-height: 1.2;
}

.page {
    width: calc(100vw - 20px);
    max-width: 840px;
    margin: 70px auto;
    padding: 10px;
}

code {
    padding: 5px;
    border-radius: 10px;
    background-color: #eeeeee;
}

.article {
    padding: 10px;
    border-bottom: 1px solid black;
}

.article_date, .article_category {
    font-size: 16px;
    line-height: 2em;
}

img {
  border-radius: 15px;
  width: 100%;
}

.profile {
  max-width: 256px;
  text-align:center;
}

.container2 {
  width: 100%;
  margin: 0 auto;
}

ul.tabs{
    margin: 0 auto;
    padding: 0px;
    list-style: none;
    text-align: center;
}

ul.tabs li{
    background: none;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

  ul.tabs li:hover{
    border-radius: 25px;
    background-color: #eeeeee;
}
  
ul.tabs li.current{
    border-radius: 25px;
    background-color: #eeeeee;
}

.tab-content{
    display: none;
}

.tab-content.current{
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul.tabs li div{
  position: relative;
  width: min(calc(840px / 6 - 45px), calc(100vw / 6 - 35px));
  aspect-ratio: 1 / 1;
  border-radius: 25px;
  overflow: hidden;
}

ul.tabs li div img{
  position: absolute;
  width: 200%;
  left: -50%;
  top: -30%;
}

@media (max-width: 768px) {
  ul.tabs li {
    padding: 5px;
  }
}